body {
  background: radial-gradient(185.24% 213.48% at 50% 50%, #7e89ec 0%, #16d4e6 55.21%, #006d74 100%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  height: 100vh;
  width: 100vw;
  font-family: 'Heebo';
  margin: 0;
  font-size: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: 'Contrail One';
  font-size: 3rem;
  font-weight: normal;
}

h2 {
  font-family: 'Heebo';
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}

h3 {
  font-size: 1.2rem;
}

h6 {
  font-family: 'Heebo';
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
}

.btn {
  margin: 1rem;
  background: rgba(255, 255, 255, 0.15);
  color: white;
  border: 1px solid #ffffff;
  border-radius: 8px;
  height: 2.7rem;
  min-width: 13rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn:disabled {
  background: rgba(158, 158, 158, 0.15);
  border: 1px solid #8a8a8a;
  color: #8a8a8a;
}

.btn:disabled {
  pointer-events: none;
  filter: saturate(0.3);
}

.btn-small {
  height: auto;
  font-size: 0.8rem !important;
  font-weight: normal !important;
  display: inline-flex;
  padding: 0.3rem 0.5rem;
  min-width: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.3);
  filter: brightness(1.1);
}

.btn-green {
  background: #03aa2dbb !important;
}

.btn-gray {
  background: lightgray !important;
  color: black;
}

.btn-red {
  background: #aa2a03bb !important;
}

.btn-orange {
  background: #ffc076 !important;
  border: none;
}

.btn-purple {
  background: #7f71d2 !important;
}

.btn-blurple {
  background: #588dff !important;
}

.btn-outlined {
  background: none !important;
  border: black solid 1px;
  border-radius: 8px;
  color: black;
}

.btn-outlined:hover {
  color: black !important;
  background: rgba(255, 255, 255, 0.5) !important;
}

a:hover.btn {
  color: white;
}

a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

a:hover {
  color: #7f71d2;
}

.side-by-side {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.content {
  max-width: 90rem;
  padding-bottom: 5%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.disabled {
  pointer-events: none;
  cursor: default;
}

.paper {
  background-color: rgba(250, 243, 233, 0.85);
  border-radius: 10px;
  max-width: 70rem;
  padding: 1rem 2rem;
  margin: 2rem auto;
  text-align: justify;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-around {
  justify-content: space-around;
}

.flex-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  justify-content: center;
}
